/* lab3 */
body {
    background-color: rgb(104, 202, 235);
    font-family: garamond;
}

header {
    margin-bottom: 20px;
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

h1 {
    text-align: center;
    color: rgb(38, 66, 99);
}

form {
    background-color: rgb(238, 238, 238);
    padding: 20px;
    width: 50;
    margin: auto;
    border: 1px solid black;
}

input,
select {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

input[type="checkbox"] {
    width: auto;
}

input[type="submit"] {
    background-color: rgb(206, 206, 206);
    color: rgb(21, 49, 85);
    border: 1px solid rgb(139, 139, 139);
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(156, 156, 182);
}
.back-button {
  display: inline-block;
  margin-top: 30px;
  background-color: #ff4655;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #e63e4c;
}
